body{
    background-color: rgb(18, 59, 5);
}
h1{
    text-align: center;
    color: rgb(255, 0, 106);
    font-size: 2.5em;
    margin-bottom: 0;
}
.p1{
    color: aliceblue;
    font-size: 1.5em;
    text-align: right;
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 2px;
}
h2{
    text-align: center;
    font-family:"遊ゴシック","sans-serif";
    color: rgb(250, 190, 190);
    font-weight: lighter;
}
a{
    color: aquamarine;
}
pre{
    display: block;
    color: aliceblue;
    margin-left: 8em;
    margin-bottom: 6em;
}
.comment{
    color: yellow;
    font-family: "MS Serif","Times New Roman"
}
#copyButton{
    display: block;
    margin: 0 auto;
    font-size: 2em;
    color: rgb(223, 240, 255);
    background-color: rgb(0, 0, 0);
    font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", sans-serif;
    font-weight: bold;
}
#pyramid-wrapper {
    position: absolute;
    right: 20px;
    bottom: 2px;
    display: flex;          /* ← 横並びにする */
    align-items: flex-end;  /* ← 下端を揃える */
    z-index: 1000;
}

#pyramid {
    width: 500px;
    height: auto;
}

#p2 {
    margin-right: 15px;     /* 画像との距離 */
    color: antiquewhite;
    font-size: 1.3em;
}

@media (max-width: 600px) {
    #pyramid-wrapper {
        display: none;      /* ← 画像と p2 を同時に消す */
    }
}
html {
    position: relative;
}